<div class="row">
  <div class="container">
    <div class="col-md-12">
      <div id="elflash">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %> alert-dismissable"><button class="close" data-dismiss="alert" aria-hidden="true">&times;</button><%= value %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
