<p>Hola <%= @resource.email %>!</p>

<p>Haga click en el siguiente link para cambiar su contraseña.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

